/*=================================================
*  SETTINGS
=================================================== */
/*=================================================
*  GRID
=================================================== */
/*=================================================
*  BREAKPOINTS
=================================================== */
/*=================================================
*  CONTAINERS
=================================================== */
/*=================================================
*  FONT
=================================================== */
/* Font Weight */
/* Font Color*/
/* Font Color light */
/* Font Size */
/*=================================================
*  Default Color
=================================================== */
/*=================================================
*  Link Color
=================================================== */
/*=================================================
*  GRAY
=================================================== */
/*=================================================
*  DARK
=================================================== */
/*=================================================
*  BORDER
=================================================== */
/*=================================================
*  SOCIAL MEDIA
=================================================== */
/*=================================================
*  SHAWDOW
=================================================== */
/*=================================================
*  MIXIN
=================================================== */
/*=================================================
*  UTILITY
=================================================== */
/*=================================================
*  BASE
=================================================== */
/*=================================================
*  COMPONENT
=================================================== */
.adc-portfolio {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }
  .adc-portfolio__thumbnail {
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    text-align: center; }
    .adc-portfolio__thumbnail img {
      -webkit-transition: 0.3s linear;
      transition: 0.3s linear; }
  .adc-portfolio__body {
    padding: 10px 0; }
  .adc-portfolio__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0; }
    .adc-portfolio__title a {
      color: #293340; }
  .adc-portfolio__category {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 12px; }
    .adc-portfolio__category a {
      position: relative;
      color: #B5BEC8;
      padding: 0 5px; }
      .adc-portfolio__category a:before {
        position: absolute;
        content: "";
        width: 3px;
        height: 3px;
        background: #8d8d93;
        border-radius: 100px;
        right: -3px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }
      .adc-portfolio__category a:last-child:before {
        display: none; }
  .adc-portfolio__action {
    margin-left: -5px;
    margin-right: -5px; }
    .adc-portfolio__action a {
      padding: 3px 10px;
      background-color: #222222;
      color: #fff;
      display: inline-block;
      border-radius: 100px;
      margin-right: 5px;
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
      opacity: 0;
      -webkit-transition: opacity 0.5s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
      transition: opacity 0.5s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
      transition: opacity 0.5s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
      transition: opacity 0.5s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15), -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15); }
      .adc-portfolio__action a:hover {
        background: #4466FF;
        color: #fff; }
      .adc-portfolio__action a:last-child {
        -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s; }
  .adc-portfolio__overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .adc-portfolio:hover .adc-portfolio__overlay {
    visibility: visible; }
  .adc-portfolio:hover .adc-portfolio__action a {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }

/*=================================================;
/* TRANSFORM
/*================================================= */
.adc-portfolio--transform .adc-portfolio {
  overflow: hidden; }
  .adc-portfolio--transform .adc-portfolio__thumbnail {
    margin-bottom: 0; }
  .adc-portfolio--transform .adc-portfolio__title, .adc-portfolio--transform .adc-portfolio__category {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    transition: opacity 0.4s ease-in, -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    transition: opacity 0.4s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    transition: opacity 0.4s ease-in, transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15), -webkit-transform 0.3s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  .adc-portfolio--transform .adc-portfolio__category {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s; }
  .adc-portfolio--transform .adc-portfolio__body {
    position: absolute;
    padding: 10px 10px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    transition: -webkit-transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    transition: transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15);
    transition: transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15), -webkit-transform 0.2s cubic-bezier(0.39, 0.08, 0.72, 1.15); }
  .adc-portfolio--transform .adc-portfolio__overlay {
    display: none; }

.adc-portfolio--transform:hover .adc-portfolio__body {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  left: 5px;
  bottom: 5px;
  right: 5px; }

.adc-portfolio--transform:hover .adc-portfolio__thumbnail img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3); }

.adc-portfolio--transform:hover .adc-portfolio__title, .adc-portfolio--transform:hover .adc-portfolio__category {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transform: 0;
          transform: 0; }

.adc-team {
  margin-bottom: 30px;
  border: 1px solid #EDF0F1;
  text-align: center; }
  .adc-team__thumbnail {
    margin: 0 auto;
    margin-bottom: 5px; }
  .adc-team__body {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .adc-team__name {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 16px;
    line-height: 24px; }
  .adc-team__position {
    margin-bottom: 5px; }
  .adc-team__content {
    margin-bottom: 10px; }
  .adc-team__body {
    padding: 15px;
    padding-top: 0; }
  .adc-team .rt-socmed {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px; }

.adc-testimonial {
  margin: 0 auto; }
  .adc-testimonial__thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin: 0 auto;
    margin-bottom: 20px; }
    .adc-testimonial__thumbnail img {
      width: 80px !important;
      height: 80px !important; }
  .adc-testimonial__name {
    font-size: 14px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 3px; }
  .adc-testimonial__position {
    font-size: 12px;
    line-height: 12px; }
  .adc-testimonial__content {
    border-radius: 3px;
    position: relative;
    background-color: #fafafa;
    border: 1px solid #EDF0F1;
    padding: 15px;
    margin-bottom: 20px; }
    .adc-testimonial__content:before {
      position: absolute;
      bottom: -7px;
      left: 50%;
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid #EDF0F1;
      border-top: none;
      border-left: none;
      background-color: #fafafa;
      content: "";
      -webkit-transform: translateX(-50%) rotate(45deg);
              transform: translateX(-50%) rotate(45deg); }
  .adc-testimonial__profile {
    margin: 0 auto;
    text-align: center; }
  .adc-testimonial__detail {
    text-align: center; }
