/*=================================================
*  GRID
=================================================== */
$grid-width: 1170px;
$grid-gap: 30px;
$grid-columns: 12;
/*=================================================
*  BREAKPOINTS
=================================================== */
$breakpoints: (
  xs: 320px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1201px
) !default;
/*=================================================
*  CONTAINERS
=================================================== */
$containers: (
  xs: auto,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1170px
) !default;
/*=================================================
*  FONT
=================================================== */
$font-primary: 'Roboto', sans-serif;
$font-second: 'Roboto', serif;

/* Font Weight */
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

$font-size: 14px;
$line-height: 24px;

/* Font Color*/
$color-base: #fff;
$color-primary: #293340;
$color-second: #8d8d93;
$color-third: #B5BEC8;

/* Font Color light */
$color-light-primary: rgba($color-base, 0.98);
$color-light-second: rgba($color-base, 0.60);
$color-light-thirdty: rgba($color-base, 0.28);
$color-orange: #D26E4B;

/* Font Size */
$font-sizes: (
  font_size: (
    h1: 32px,
    h2: 28px,
    h3: 23px,
    h4: 18px,
    h5: 14px,
    h6:
    14px
  ),
  line_height: (
    h1: 40px,
    h2: 36px,
    h3: 31px,
    h4: 24px,
    h5: 24px,
    h6: 24px
  ),
) !default;


$font-sizes-xs: (
  font_size: (
    h1: 28px,
    h2: 24px,
    h3: 21px,
    h4: 18px,
    h5: 16px,
    h6: 16px
  ),
  line_height: (
    h1: 38px,
    h2: 34px,
    h3: 33px,
    h4: 28px,
    h5: 28px,
    h6: 28px
  ),
) !default;

$title-size-lg: 27px;
$title-size-md: 18px;
$title-size-sm: 14px;



/*=================================================
*  Default Color
=================================================== */
$color-brand: #4466FF;
$color-info: #4a90e2;
$color-success: #60b963;
$color-warning: #d88519;
$color-danger: #c64444;
/*=================================================
*  Link Color
=================================================== */
$link: $color-info;
$link-active: darken($color-info, 10%);
$link-hover: darken($color-info, 10%);
$link-focus: darken($color-info, 10%);

/*=================================================
*  GRAY
=================================================== */
$gray-darken: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: #ebebeb;
$gray-light: #fafafa;
$gray-lighten: lighten(#000,93.5%);

/*=================================================
*  DARK
=================================================== */
$dark-primary: #282828;
$dark-second: #1e1e1e;

/*=================================================
*  BORDER
=================================================== */
$border-width: 1px;
$border-radius: 3px;
$border-color: #EDF0F1;

/*=================================================
*  SOCIAL MEDIA
=================================================== */
$sosmed: (
  facebook: #3b5998,
  fbmessager: #0084ff,
  twitter: #55acee,
  instagram: #125688,
  google-plus: #dd4b39,
  linkedin: #007bb5,
  pinterest: #cb2027,
  youtube: #b00,
  rss: #faa33d,
  vimeo: #35c6ea,
  dribbble: #f7659c,
  skype: #13c1f3,
  wordpress: #2592c3,
  behance: #1879fd,
  dropbox: #17a3eb,
  soundcloud: #ff7e30,
  tumblr: #426d9b,
  github: #3f91cb,
  whatsapp:#25D366,
  telegram: #0088cc,
  bbm: #333333,
  phone: #cc3333,
  email: #dcd427,
) !default;
/*=================================================
*  SHAWDOW
=================================================== */
$box-shadow: 0 7px 25px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.02);
